@import '_reset.styl'

html, body
  height 100%
  // font-family Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
body
  font-family "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

.body-wrapper
  height 100%

.header-logo-container
  padding 10px 0

.header-logo
  font-size 42px
  text-align center
  background-image url('/assets/images/logo.svg')
  background-repeat no-repeat
  background-size 320px 320px
  background-position 3.5% 0
  height 0
  padding-top 320px
  overflow hidden
  display block
  @media screen and (max-width: 769px)
    font-size 24px

.main
  width 840px
  margin 0 auto
  @media screen and (max-width: 769px)
    width 100%

// えんとりー
.entry-list, .entry-detail
  padding-top 10px
  a
    color #090909
  img
    max-width 100%
  blockquote
    background-color #f7f7f7
    margin 0 0 14px
    padding 10px 10px 10px 20px
    p
      margin-bottom 0
    a
      color #F51BA6


.entry-list__entry
  max-width 840px
  margin-bottom 50px
  @media screen and (max-width: 769px)
    max-width initial

.entry-header
  padding 0 10px 10px
  border-bottom 5px solid #f2f2f2
  h1
    font-size 32px
    @media screen and (max-width: 769px)
      font-size 20px

.entry-date
  font-size 12px
  font-weight 500
  margin-top 8px

.entry-tags
  display none

.entry-description
  padding 15px 10px 20px
  font-weight 400
  line-height 1.66em
  p
    margin-bottom 1.25rem


.entry-list-more
  padding-left 10px
  .entry-list-more__entry
    color #ffffff
    background-color #434343
    font-weight 600
    padding 3px 6px
    &:hover
      background-color #F51BA6
      text-decoration none
  @media screen and (max-width: 769px)
    padding-left 0
    .entry-list-more__entry
      display block
      text-align center

.entry-detail
  .entry-description
    padding-bottom 0



.entry-content
  padding 0 10px 10px
  font-weight 400
  line-height 1.66em
  blockquote

  img
    max-width 100%
  h2
    font-size 24px
    padding-top 20px
    margin-bottom 14px
    border-bottom 2px solid #e2e2e2
    padding-bottom 5px
  h3
    font-size 18px
    margin-bottom 14px
  p
    margin-bottom 1.25rem
  ul
    list-style-position inside
    margin-bottom 12px
    li
      p
        margin-bottom 0
        display inline
  code
    color #232323
    background-color #f7f7f7
    padding 8px
    border 1px solid #f2f2f2
    display block
    font-family Consolas, "Liberation Mono", Menlo, Courier, monospace
    font-weight normal





.paginator
  width 160px
  margin 0 auto
  padding-bottom 20px
  text-align center
.paginator-list
  display inline-block

.paginator-entry
  display inline-block
  margin-right 10px
  a
    color #e2e2e2
    font-weight 500
.paginator-entry.current
  a
    color #434343

.paginator-prev
  display inline-block
  margin-bottom 10px
  width 0
  height 0
  border-style solid
  border-width 0 80px 30px 80px
  border-color transparent transparent #f2f2f2 transparent
.paginator-next
  margin-top 10px
  display inline-block
  width 0
  height 0
  border-style solid
  border-width 30px 80px 0 80px
  border-color #f2f2f2 transparent transparent transparent


.footer
  font-size 10px
  color #090909
  text-align center
  padding 5px 0

.sidebar-about-icon
  width 40px
  border-radius 40px

  border 4px solid #e2e2e2
  position absolute
  bottom 45px
  left 50%
  margin-left -20px
  overflow hidden
  cursor pointer
  img
    width 100%
    vertical-align middle

.sidebar-about-content
  font-size 12px
  color #090909
  background-color #e2e2e2
  border-radius 4px
  padding 5px
  position absolute
  bottom 105px
  left 10px
  width 120px
  opacity 0
  visibility hidden
  ul
    list-style none
    line-height 1.6em
  &:after
    display block
    content ""
    width 0
    height 0
    border-style solid
    border-width 10px 10px 0 10px
    border-color #e2e2e2 transparent transparent transparent
    position absolute
    margin-left -10px
    left 50%
    bottom -10px

.sidebar-about-content.current
  opacity 1
  visibility visible
  animation aboutVisible 0.17s ease 0s 1

@keyframes aboutVisible
  0%
    opacity 0.2
    transform translateY(8px)
  100%
    opacity 1
    transform translateY(0)
